
body{
  height:3000px;
}

.wrap{
  width: 400px;
  height: 300px;
  background-color: orchid;
  position:relative;
}

.container{
  width:300px;
  background-color: royalblue;
  /* position:relative; */
}

.container .item{
  border:4px dashed red;
  background-color: orange;
}
.container .item:nth-child(1){
  width: 100px;
  height: 100px;
}
.container .item:nth-child(2){
  width: 140px;
  height: 70px;
  /* position : relative;
  top: 30px;
  left: 60px; */

  /* position:absolute를 사용하려면 부모 요소에 position:relative를 해줘야 한다 */
  /* position:absolute; */

  /* 무조건 뷰포트에 고정 되어있고 스크롤을 내려도 그대로 위치 유지 */
  position:fixed;
  bottom: 30px;
  right:60px;

}
.container .item:nth-child(3){
  width:70px;
  height:120px;
}

span {
  width:100px;
  height: 100px;
  background:orange ;
  font-size : 40px;
  /* display : block 이 기본 값으로 적용되며 생략*/
  position : absolute;
}